.task_container{
    position: absolute;
    // left: 0;
    height: 100vh;
    width: 375px;
    background-color: #2196F3;
}

/* Header */
.task_header{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_close{
    position: absolute;
    top: 11px;
    right: 11px;
}
.heading{
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
  
}

/* Lower Content */
.lower_container{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    position: absolute;
    bottom: 0;
}

/* First Category Section */
.first_input_cont{
    width: 100%;
    display: flex;flex-direction:column;
    align-items:  flex-start;
    gap:13px;
    position: relative;
    top: 5%;
}
.category_section{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
.category_task{
    position: relative;
    left: 7%;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #616161;
}
.select1{
    height: 7vh;
    background: #F5F5F5;
    width: 86%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.selected_item{
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #616161;
    position: relative;
    left: 5%;
}
.select1 img{
    height: 25px ;
    width: 20px;
    position: absolute;
    right: 5%;
}
.dropdown_option{
    width: 86%;
    position: relative;
    top:-10px;
    z-index: 2;
    background:  #FBFBFB;
    padding:  20px 20px 5px 20px ;
}
.dropdown_option_error{
    width: 86%;
    position: relative;
    top: -27px;
    z-index: 2;
    background:  #FBFBFB;
    padding:  20px 20px 5px 20px ;
}
.dropdown_option li:nth-last-child(1){
    border-bottom: none;
}
.dropdown_option li{
    /* padding:10px 0px ; */
    /* margin-bottom: 10px; */
    padding: 4px 0px;
    border-bottom: 1px solid #DFDFDF;
    list-style: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #616161;
}

/* Second Input Section */
.second_input_cont{
    height: 55%;
    width: 85%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
    z-index: 0;
    top: 28%;
}
.input_header{
    position: relative;
    bottom: 0;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #616161;
}
.input_div{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
}
.input_div textarea{
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    word-wrap: break-word;
    padding:10px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #F5F5F5;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #616161;
}
.error_message1{
    width: 85%;
    position: relative;
    top: 7px;
    z-index: 0;
    display: flex;
    align-items: flex-start;
   
}

.error_message{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #E94333;
}
.success_message{
    transition: all 450ms;
    position: absolute;
    z-index: 10;
    bottom: 15%;
    padding: 10px 30px ;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    background: #4C9333;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}
/* Button */
.crte_btn{
    padding: 10px 20px;
    width: 80%;
    text-align: center;
    border-radius: 50px;
    border: none;
    background: #2196F3;
    outline: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 4%;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}    