.main{
    // background-color: rgb(227, 223, 223);
    // width: 375px;
    height: 100vh;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.05);
    // padding: 15px;
    .menu_logo{
        height: 30px;
        width: auto;
        margin: 20px 20px 0px 20px;
    }
    .title{
        text-align: center;
        color: #2196F3;
    }
    .cards_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: center;
        .link_style{
            text-decoration: none;
        }
        .card{
            height: 145px;
            width: 145px;

            // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 2px 2px 4px 1px #00000040;
            padding: 14px;
            box-sizing: border-box;
            border-radius: 5px;
            margin-right: 14px;
            margin-left: 14px;
            margin-bottom: 26px;
            .card_logo{
                margin-bottom: 10px;
            }
            h2{
                color: #4361EE;
                font-weight: 600;
            }
            h3{
                color: #ADADAD;
                font-weight: 500;
            }
        }
    } 
}
